@charset "utf-8";
/*
 * CSS Document
 * Written by Ryan Yonzon
 * http://ryan.rawswift.com/
 */
 
/*
 * IE hack 
 */
html, body {
	margin:0px;
	height:100%; /* make sure we'll use 100% of the page's height */
}

.chatbox {
	top:expression( ( -300 + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	position:expression("absolute");
}

.chatbox_m {
	top:expression( ( -20 + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	position:expression("absolute");
}
